body{
  font-size: 30px;
}

#container {
  position: relative;
}
#container canvas, #countdown, #workout, #label-container, #word {
  position: absolute;
}

#countdown {
  left: 10px;
  font-family: 'Chewy';
  color: #2aa2a2;
  font-size: 100px;
}

#workout {
  left: 350px;
  top: 10px;
  font-family: 'Chewy';
  color: #71dada;
  font-size: 30px;
}

#label-container {
  left: 400px;
  top: 300px;
}

#word {
  left: 150px;
  top: 250px;
  font-size: 50px;
  font-family: 'Chewy';
  color: #ff3385;
}